{% extends "base.html" %}
{% block title %}Создание роли{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
    <h1 class="mb-4 text-center">Создание роли</h1>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название роли</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Введите название роли" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание роли</label>
            <textarea name="description" id="description" class="form-control" placeholder="Введите описание роли" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success w-100">Создать</button>
    </form>
</div>
{% endblock %}
